{% extends 'blog/base.html' %}

{% block content %}

				{% for post in posts %}
				<div class="blog-post">
					<h2 class="blog-post-title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
					<p class="blog-post-meta">{{ post.publish|date:"jS F, Y" }} by <a href="#">{{ post.author|capfirst }}</a></p>

					<p>{{ post.body|truncatewords:30|linebreaks }}</p>
				</div><!-- /.blog-post -->
				{% endfor %}
				<nav>
					<ul class="pagination justify-content-center">
						{% if posts.has_previous %}
						<li class="page-item">
							<a class="page-link" href="?page={{ posts.previous_page_number }}" tabindex="-1" aria-disabled="true">Previous</a>
						</li>
						{% else %}
						<li class="page-item disabled">
							<a class="page-link" href="?page=1" tabindex="-1" aria-disabled="true">Previous</a>
						</li>
						{% endif %}
						{% for page_num in posts.paginator.page_range %}
						<li class="page-item {% ifequal posts.number page_num %} active {% endifequal %}"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
						{% endfor %}
						{% if posts.has_next %}
						<li class="page-item">
							<a class="page-link" href="?page={{ posts.next_page_number }}">Next</a>
						</li>
						{% else %}
						<li class="page-item disabled">
							<a class="page-link" href="?page={{ posts.paginator.num_of_pages }}">Next</a>
						</li>
						{% endif %}
					</ul>
				</nav>

{% endblock %}